// -------
$color-background: var(--background-rgb);
$color-foreground: var(--foreground-rgb);
$color-foreground-light: var(--foreground-light-rgb);
// -------
$font-robo: var(--font-robo);
$font-poppins: var(--font-poppins);
$font-inter: var(--font-inter);
// -------
$font-size: var(--font-size);
$font-size-s: var(--font-size-s);
$font-size-l: var(--font-size-l);
$font-size-xl: var(--font-size-xl);
// ---------
$color-primary: var(--color-primary-rgb);
$color-secondary: var(--color-secondary-rgb);
$color-white: var(--color-white-rgb);
$color-black: var(--color-black-rgb);
$color-gray: var(--color-gray-rgb);
$color-link: var(--color-link-rgb);
// ---------
$border-color: var(--border-color-rgb);
$border-size: var(--border-size);
$border-radius: var(--border-radius);
// ---------
$control-border-radius: var(--control-border-radius);
$grid-border-radius: var(--grid-border-radius);
// ---------
$card-border-color: var(--card-border-rgb);
$card-border-size: var(--card-border-size);
$card-border-radius: var(--card-border-radius);
// ---------
$table-header-color: var(--table-header-color-rgb);
//   ================
//   ================
